BACK/KanbanApi/KanbanApi/obj
BACK/KanbanApi/KanBanApplication/obj
BACK/KanbanApi/KanbanApi/bin
BACK/KanbanApi/KanBanApplication/bin
BACK/KanbanApi/KanbanApplicationTest/bin
BACK/KanbanApi/KanbanApplicationTest/obj
BACK/KanbanApi/.idea
BACK/KanbanApi/KanbanApi.sln.DotSettings.user
.idea
